<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
    <nav class="navbar navbar-dark bg-dark" th:fragment="header">
        <a href="/" class="navbar-brand">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
            <strong>ShoppingMall</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#my-nav-bar" aria-controls="my-nav-bar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="my-nav-bar" style>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item active">
                    <a class="nav-link" href="/posts">Q&A</a>
                </li>
                <li sec:authorize="hasRole('ROLE_USER')" class="nav-item active">
                    <a class="nav-link" href="/account">My Account</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item active">
                    <a class="nav-link" onclick="document.getElementById('logout-form').submit()" href="#">Logout</a>
                    <form id="logout-form" th:action="@{/logout}" method="POST">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    </form>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item active">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item active">
                    <a class="nav-link" href="/register">register</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item active">
                    <a class="nav-link" href="/test">Admin</a>
                </li>
            </ul>
        </div>
    </nav>
   </body>
</html>