<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
</head>
<body>

    <header>
        <div th:replace="fragments/header :: header"></div>
    </header>

    <div>
        <section class="jumbotron text-center">
            <div class="container">
                <h2>마이페이지</h2>
            </div>
        </section>
        <div class="container d-flex justify-content-center">
            <form id="accountForm" th:object="${form}" class="form-horizontal" th:action="@{/account}" method="post">
                <fieldset>
                    <input type="hidden" th:field="*{id}">
                    <div class="control-group">
                        <!-- Username -->
                        <label class="control-label" for="name">Name</label>
                        <div class="controls">
                            <input type="text" id="name" name="name" th:field="*{name}" placeholder="이름을 입력하세요" class="form-control">
                            <p class="help-block">Name can contain any letters or numbers, without spaces</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <!-- E-mail -->
                        <label class="control-label" for="email">E-mail</label>
                        <div class="controls">
                            <input type="text" id="email" th:field="*{email}" name="email" placeholder="이메일을 입력하세요" class="form-control" readonly>
                        </div>
                        <br>
                    </div>

                    <div class="control-group">
                        <!-- Password-->
                        <label class="control-label" for="password">Password</label>
                        <div class="controls">
                            <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요" class="form-control" required>
                            <p class="help-block">Password should be at least 4 characters</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="city">City</label>
                        <div class="controls">
                            <input type="text" th:field="*{city}" id="city" name="city" placeholder="" class="form-control">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="street">Street</label>
                        <div class="controls">
                            <input type="text" th:field="*{street}" id="street" name="street" placeholder="" class="form-control">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="zipcode">ZipCode</label>
                        <div class="controls">
                            <input type="text" th:field="*{zipcode}" id="zipcode" name="zipcode" placeholder="" class="form-control">
                        </div>
                    </div>

                    <br>

                    <div class="control-group">
                        <!-- Button -->
                        <div class="controls">
                            <button id="memberUpdate" type="submit" style="background: blue" class="btn btn-success form-control">회원수정</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <br>
        <div class="container d-flex justify-content-center">
            <button id="memberDelete" type="button" style="background: red"  onclick="document.getElementById('accountDeleteForm').submit()" class="btn btn-success">회원탈퇴</button>
            <form id="accountDeleteForm" th:action="@{/account/delete}" method="post"></form>
        </div>
    </div>

    <footer>
        <div th:replace="fragments/footer :: footer"></div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script> <!--for ajax -->

    <script src="js/check-email.js"></script>
</body>
</html>