<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>auth</title>
</head>
<body>
    <header>
        <div th:replace="fragments/header :: header"></div>
    </header>

    <section class="jumbotron text-center">
        <div class="container">
            <h2>운영자 페이지</h2>
        </div>
    </section>

    <div class="mx-auto" style="margin-top: 30px;">
        <table id="postTable" class="table table-hover table-sm">
            <thead>
            <tr class="thead-light thead-bordered">
                <th>ID</th>
                <th>EMAIL</th>
                <th>NAME</th>
                <th>CREATED</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td id="id" th:text="${member.id}"></td>
                <td th:text="${member.email}"></td>
                <td th:text="${member.name}"></td>
                <td th:text="${member.createdAt}"></td>
                <td th:if="${member.name} != '운영자'">
                    <a th:href="'javascript:foo('+${member.getId()}+')'" class="btn btn-danger">BAN</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <footer>
        <div th:replace="fragments/footer :: footer"></div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script>
        function foo(id) {
            let form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action', '/admin/'+id+'/ban');
            console.log(id);
            document.body.appendChild(form);
            form.submit();
        }
    </script>

</body>
</html>